.gradle/
.idea/
build/
gradle/
bin/

token.txt

.project

.settings/org.eclipse.buildship.core.prefs

.classpath

DNDInventories/databases/stonesdb.csv

DNDInventories/databases/itemdb.csv

inventories/playerinventory/

Field.txt

DNDInventories/
